.left-design {
    width: clamp(vars.rem(315), 60%, vars.rem(482));
    height: clamp(vars.rem(500), 100vw, vars.rem(700));
    transform: translateX(-15%);
    top: 0;
    left: 0;
    position: absolute;
    // background: linear-gradient(180deg, rgba(233, 66, 255, 1) 0%, rgba(136, 56, 255, 1) 22%);
    background: -moz-linear-gradient(207deg, rgba(233, 66, 255, 1) 4%, rgba(136, 56, 255, 1) 52%);
    background: -webkit-linear-gradient(207deg, rgba(233, 66, 255, 1) 4%, rgba(136, 56, 255, 1) 52%);
    background: linear-gradient(207deg, rgba(233, 66, 255, 1) 4%, rgba(136, 56, 255, 1) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e942ff",endColorstr="#8838ff",GradientType=1);
    border-radius: 0% 2% 87% 93% / 13% 49% 49% 50%;

    @include vars.media(phone-wide, max) {
        border-radius: 0% 2% 51% 51% / 13% 49% 49% 50%;
        transform: translateX(-50%);
    }
}

.right-design {
    width: vars.rem(570);
    height: clamp(vars.rem(500), 100vw, vars.rem(681));
    background: vars.$left-bg;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(43%);
    border-radius: 50% 46% 7% 0% / 42% 44% 0% 0%;

    @include vars.media(phone-wide, max) {
        transform: translate(70%, 0);
    }
}
