.phone {
    width: vars.rem(250);
    height: vars.rem(510);
    background: vars.$white;
    border-radius: vars.rem(30);
    @include vars.flexer(center, center);
    position: relative;
    margin-left: vars.rem(350);

    @include vars.media(desktop, max) {
        margin-left: 0;
        margin-top: vars.rem(65);
    }

    .screen {
        width: vars.rem(225);
        height: vars.rem(490);
        background: vars.$light_grayish_violet;
        border-radius: vars.rem(20);
        position: relative;
        overflow: hidden;
    }
    .notch {
        background: vars.$white;
        @include vars.pseudo($display: block, $w: vars.rem(130), $h: vars.rem(20));

        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: vars.rem(600);
        border-bottom-right-radius: vars.rem(600);
    }

    .status-bar {
        width: 100%;
        height: vars.rem(70);
        background: linear-gradient(to right, vars.$light_violet, vars.$light_magenta);
        border-radius: vars.rem(5);
        @include vars.flexer(center, space-between);
        padding: vars.rem(30) vars.rem(16) vars.rem(16);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    .user {
        @include vars.flexer(center, start);
    }

    .avatar {
        width: vars.rem(25);
        height: vars.rem(25);
        border-radius: 50%;
        background: vars.$white;
        @include vars.flexer(center, center);
        margin: 0 vars.rem(6);

        img {
            width: 90%;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
    }
    .name {
        font-size: vars.rem(12);
        color: vars.$white;
    }
    .status {
        font-size: vars.rem(9);
        color: vars.$white;
        opacity: 0.5;
    }
    ion-icon {
        color: vars.$white;
        cursor: pointer;
    }
    .chat {
        width: 100%;
        padding: 0 vars.rem(9);

        .text {
            max-width: vars.rem(128);
            width: fit-content;
            font-size: vars.rem(8);
            padding: vars.rem(5) vars.rem(8);
        }
    }
    .menu {
        @include vars.flexer();
        flex-direction: column;
        cursor: pointer;

        span {
            background: vars.$white;
            width: vars.rem(2);
            height: vars.rem(2);
            margin: vars.rem(1) 0;
        }
    }

    .images {
        @include vars.flexer(center, space-between);
        width: vars.rem(137);
        img {
            width: vars.rem(41);
            aspect-ratio: 1/1;
            border-radius: vars.rem(10);
        }
    }
    .outgoing {
        margin-left: auto;
        border-radius: vars.rem(10) vars.rem(10) vars.rem(2) vars.rem(10);
        background: vars.$white;
        color: vars.$des-dark_violet;
        margin-top: vars.rem(8);
    }
    .incoming {
        margin-right: auto;
        background: vars.$left-bg;
        color: vars.$mod_violet;
        border-radius: vars.rem(10) vars.rem(10) vars.rem(10) vars.rem(2);
        margin-top: vars.rem(8);
    }

    .incoming + .outgoing,
    .outgoing + .incoming {
        margin-top: vars.rem(16);
    }

    .payment {
        width: vars.rem(160);
        height: vars.rem(35);
        color: vars.$white;
        background: linear-gradient(to left, vars.$light_violet, vars.$light_magenta);
        @include vars.flexer(center, space-between);

        input {
            display: none;
        }
    }
    .instruction {
        @include vars.flexer(center, start);
    }
    label {
        display: block;
        width: vars.rem(15);
        height: vars.rem(15);
        margin-left: vars.rem(9);
        border-radius: 50%;
        border: 1px solid vars.$very_light_magenta;
    }
    .wording {
        font-size: vars.rem(8);
        margin-left: vars.rem(9);
    }
    .price {
        margin-right: vars.rem(17);
        font-size: vars.rem(14);
        font-weight: 700;
    }

    .form {
        width: vars.rem(215);
        height: vars.rem(35);
        margin: vars.rem(15) auto 0;
        background: vars.$white;
        border-radius: 999px;
        position: relative;
        @include vars.flexer(center, start);

        .text {
            font-size: vars.rem(8);
            color: vars.$grayish_blue;
            margin-left: vars.rem(19);
            user-select: none;
        }

        .send {
            @include vars.pseudo($w: vars.rem(25), $h: vars.rem(25));
            @include vars.flexer(center, center);
            background: vars.$very_dark_des_violet;
            border: none;
            outline: none;
            border-radius: 50%;
            right: vars.rem(5);
            cursor: pointer;
        }
    }
}
