.presentation {
    width: clamp(vars.rem(300), 60%, vars.rem(445));
    margin-right: vars.rem(263);
    position: relative;

    @include vars.media(desktop, max) {
        margin: vars.rem(70) 0;
        text-align: center;
    }
}
.title {
    margin-bottom: vars.rem(35);
    color: vars.$very_dark_des_violet;
    font-weight: 500;
}

.content {
    color: vars.$dark_grayish_violet;

    @include vars.media(desktop, max) {
        font-size: vars.rem(15);
    }
}
