@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    font-size: funcs.rem(16);
    background: colors.$light_grayish_violet;
}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
