//Text
$pale_violet: hsl(276, 100%, 81%); //sub-heading at the top of the app UI
$mod_violet: hsl(276, 55%, 52%); //chat on the left
$des-dark_violet: hsl(271, 15%, 43%); //chat on the right
$grayish_blue: hsl(206, 6%, 79%); //placeholder text
$very_dark_des_violet: hsl(271, 36%, 24%); //main heading and submit button background
$dark_grayish_violet: hsl(270, 7%, 64%); //paragraph
$left-bg: hsl(272, 46%, 93%);

//Gradients
$light_magenta: hsl(293, 100%, 63%);
$light_violet: hsl(264, 100%, 61%);

//Secondary
$white: hsl(0, 0%, 100%);
$light_grayish_violet: hsl(270, 20%, 96%); //app background
$very_light_magenta: hsl(289, 100%, 72%); //radio button outline
