@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.phone, .phone .status-bar, .phone .user, .phone .avatar, .phone .menu, .phone .images, .phone .payment, .phone .instruction, .phone .form, .phone .form .send, .container {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: #f5f3f7;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container, .phone, .phone .status-bar, .phone .user, .phone .avatar, .phone .menu, .phone .images, .phone .payment, .phone .instruction, .phone .form, .phone .form .send {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: #f5f3f7;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.phone {
  width: 15.625rem;
  height: 31.875rem;
  background: white;
  border-radius: 1.875rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 21.875rem;
}
@media only screen and (max-width: 1247px) {
  .phone {
    margin-left: 0;
    margin-top: 4.0625rem;
  }
}
.phone .screen {
  width: 14.0625rem;
  height: 30.625rem;
  background: #f5f3f7;
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}
.phone .notch {
  background: white;
  display: block;
  position: absolute;
  width: 8.125rem;
  height: 1.25rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 37.5rem;
  border-bottom-right-radius: 37.5rem;
}
.phone .status-bar {
  width: 100%;
  height: 4.375rem;
  background: linear-gradient(to right, #8838ff, #e942ff);
  border-radius: 0.3125rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 1rem 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.phone .user {
  align-items: center;
  justify-content: start;
}
.phone .avatar {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background: white;
  align-items: center;
  justify-content: center;
  margin: 0 0.375rem;
}
.phone .avatar img {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.phone .name {
  font-size: 0.75rem;
  color: white;
}
.phone .status {
  font-size: 0.5625rem;
  color: white;
  opacity: 0.5;
}
.phone ion-icon {
  color: white;
  cursor: pointer;
}
.phone .chat {
  width: 100%;
  padding: 0 0.5625rem;
}
.phone .chat .text {
  max-width: 8rem;
  width: fit-content;
  font-size: 0.5rem;
  padding: 0.3125rem 0.5rem;
}
.phone .menu {
  flex-direction: column;
  cursor: pointer;
}
.phone .menu span {
  background: white;
  width: 0.125rem;
  height: 0.125rem;
  margin: 0.0625rem 0;
}
.phone .images {
  align-items: center;
  justify-content: space-between;
  width: 8.5625rem;
}
.phone .images img {
  width: 2.5625rem;
  aspect-ratio: 1/1;
  border-radius: 0.625rem;
}
.phone .outgoing {
  margin-left: auto;
  border-radius: 0.625rem 0.625rem 0.125rem 0.625rem;
  background: white;
  color: #6e5d7e;
  margin-top: 0.5rem;
}
.phone .incoming {
  margin-right: auto;
  background: #eee5f5;
  color: #9241c8;
  border-radius: 0.625rem 0.625rem 0.625rem 0.125rem;
  margin-top: 0.5rem;
}
.phone .incoming + .outgoing,
.phone .outgoing + .incoming {
  margin-top: 1rem;
}
.phone .payment {
  width: 10rem;
  height: 2.1875rem;
  color: white;
  background: linear-gradient(to left, #8838ff, #e942ff);
  align-items: center;
  justify-content: space-between;
}
.phone .payment input {
  display: none;
}
.phone .instruction {
  align-items: center;
  justify-content: start;
}
.phone label {
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  margin-left: 0.5625rem;
  border-radius: 50%;
  border: 1px solid #e570ff;
}
.phone .wording {
  font-size: 0.5rem;
  margin-left: 0.5625rem;
}
.phone .price {
  margin-right: 1.0625rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.phone .form {
  width: 13.4375rem;
  height: 2.1875rem;
  margin: 0.9375rem auto 0;
  background: white;
  border-radius: 999px;
  position: relative;
  align-items: center;
  justify-content: start;
}
.phone .form .text {
  font-size: 0.5rem;
  color: #c6cacd;
  margin-left: 1.1875rem;
  user-select: none;
}
.phone .form .send {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  align-items: center;
  justify-content: center;
  background: #3e2753;
  border: none;
  outline: none;
  border-radius: 50%;
  right: 0.3125rem;
  cursor: pointer;
}

.left-design {
  width: clamp(19.6875rem, 60%, 30.125rem);
  height: clamp(31.25rem, 100vw, 43.75rem);
  transform: translateX(-15%);
  top: 0;
  left: 0;
  position: absolute;
  background: -moz-linear-gradient(207deg, #e942ff 4%, #8838ff 52%);
  background: -webkit-linear-gradient(207deg, #e942ff 4%, #8838ff 52%);
  background: linear-gradient(207deg, #e942ff 4%, #8838ff 52%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e942ff",endColorstr="#8838ff",GradientType=1);
  border-radius: 0% 2% 87% 93%/13% 49% 49% 50%;
}
@media only screen and (max-width: 479px) {
  .left-design {
    border-radius: 0% 2% 51% 51%/13% 49% 49% 50%;
    transform: translateX(-50%);
  }
}

.right-design {
  width: 35.625rem;
  height: clamp(31.25rem, 100vw, 42.5625rem);
  background: #eee5f5;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(43%);
  border-radius: 50% 46% 7% 0%/42% 44% 0% 0%;
}
@media only screen and (max-width: 479px) {
  .right-design {
    transform: translate(70%, 0);
  }
}

.presentation {
  width: clamp(18.75rem, 60%, 27.8125rem);
  margin-right: 16.4375rem;
  position: relative;
}
@media only screen and (max-width: 1247px) {
  .presentation {
    margin: 4.375rem 0;
    text-align: center;
  }
}

.title {
  margin-bottom: 2.1875rem;
  color: #3e2753;
  font-weight: 500;
}

.content {
  color: #a39daa;
}
@media only screen and (max-width: 1247px) {
  .content {
    font-size: 0.9375rem;
  }
}

.container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1247px) {
  .container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
