@use './utils/index' as vars;
@import './components/index';

.container {
    width: 100%;
    height: 100%;
    @include vars.flexer(center, space-between);
    position: relative;
    overflow: hidden;

    @include vars.media(desktop, max) {
        flex-direction: column;
    }
}
